<my-header></my-header>
<div class="content pure-u-1 pure-u-md-3-4">
    <div>
        <div class="pure-menu pure-menu-horizontal">
          <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
          </ul>
      </div>
        <router-outlet></router-outlet>
        <my-footer></my-footer>
    </div>
</div>